<section class="container">
  <header class="header d-flex">
    <div class="search-thoughts">
      <input type="search" class="filter" placeholder="What are you looking for??" autofocus [(ngModel)]="filter" (keyup)="searchThought()">
      <img src="/assets/images/magnifying-glass.png" alt="blue magnifying-glass">
    </div>
    <h2 class="ff-inter">
      {{ title }}
    </h2>
    <div class="buttons">
      <button class="button" (click)="reloadComponent()">
        My Mural
      </button>
      <button class="button" (click)="listFavorites()">
        My Favorites
      </button>
      <button routerLink="/create" class="button">
        New Thought
      </button>
    </div>
  </header>
  <div class="mural" *ngIf="listThought.length > 0, else noThoughts">
    <div *ngFor="let thought of listThought">
      <app-thought [thought]="thought" [favoritesList]="favoritesList"></app-thought>
    </div>
  </div>
</section>
<app-load-more-button [thereAreMoreThoughts]="thereAreMoreThoughts" (click)="loadMoreThoughts()">

</app-load-more-button>
<ng-template #noThoughts>
  <div class="ff-inter no-thoughts">
    There are no thoughts registered yet!
  </div>
</ng-template>
